.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}

.col-1 {
  float: left;
  width: 8.333333333%;
}

.col-2 {
  float: left;
  width: 16.666666667%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.333333333%;
}

.col-5 {
  float: left;
  width: 41.666666667%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 58.333333333%;
}

.col-8 {
  float: left;
  width: 66.666666667%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.333333333%;
}

.col-11 {
  float: left;
  width: 91.666666667%;
}

.col-12 {
  float: left;
  width: 100%;
}


.navBar {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

.li{
  display: inline;
  border-radius: 8px;
  float: right;
  padding: 5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}
